@import '../../../styles.scss';

.container {
    background-color: whitesmoke;

    .form-content {
        display: flex; flex-wrap: wrap; flex-wrap: wrap; padding: $padding;

        .form-text-input {
            width: 100%;
            .text-field { width: 100% !important; text-align: center; }
        }
        .form-attributes-input {
            width: 100% !important; display: flex; flex-wrap: wrap;
            .size-field { width: calc(#{25%} - #{$padding}) !important; }
            .family-field { padding-right: $padding; padding-left: $padding; width: 50% !important; }
            .color-field { width: calc(#{25%} - #{$padding}) !important; }
            .devider { width: $padding; }
        }
        .form-style-input {
            width: 100% !important; display: flex;
            .bold-field { width: 50%; display: flex; justify-content: flex-end; padding-right: $padding; }
            .italic-field { width: 50%; display: flex; justify-content: flex-start; padding-left: $padding; } 
        }
    }
}