<!-- Weather -->
<div class="weather-container">
  <div class="input-container">
    <!-- City name input -->
    <form [formGroup]="form">

      <mat-form-field>
        <mat-error>Please enter a city name</mat-error>
        <mat-label>City name</mat-label>
        <input matInput placeholder="Ex. 'Tel-Aviv'" formControlName="city">
      </mat-form-field>

      <button mat-raised-button 
        color="primary"
        (click)="SearchCity()"
      >Add City</button>
      
    </form>
  </div>

  <!-- City Weather Cards -->
  <div class="city-weather-container">
   
    <city-weather-card-comp class="weather-card" 
      *ngFor="let city of cities;" 
      [data]="city"
      (placeMapClick)="ShowPlace($event)"
    >
    </city-weather-card-comp>
    
  </div>

</div>

<!-- Map -->
<div class="map-container">
  <map-comp></map-comp>
</div>
