<!-- Weather -->
<div class="weather-container">
  <div class="input-container">
    <!-- City name input -->
    <form [formGroup]="form">

      <mat-form-field>
        <mat-error>Please enter a city name</mat-error>
        <mat-label>City name</mat-label>
        <input matInput placeholder="Ex. 'Tel-Aviv'" formControlName="city">
      </mat-form-field>

      <button mat-raised-button 
        color="primary"
        (click)="searchCity()"
      >Add City</button>
      
    </form>
  </div>

  <!-- City Weather Cards -->
  <div class="city-weather-container">
   
    <city-weather-card-comp class="weather-card" 
      *ngFor="let city of cities;" 
      [data]="city"
      (placeMapClick)="showPlace($event)"
    >
    </city-weather-card-comp>
    
  </div>

</div>

<!-- Map -->
<div class="map-container">
  <map-comp></map-comp>
  <!-- Map
  <div class="map" #mapViewNode></div>

  Editor
  <div class="editor" cdkDrag cdkDragBoundary=".map-container" *ngIf="showTextEditor">
    The header with close button
    <div class="header" cdkDragHandle>
      <div class="text">
          Text Editor
      </div>
      <button class="button" (click)="hideEditor()">
          X
      </button>
    </div>
    The actual editor content
    <text-editor (sendSymbol)="updateSymbol($event)"></text-editor>
  </div> -->
</div>
